{% extends 'Registration/basic.html' %}
{% block title %} - teacher {% endblock %}
{% block navbar %}
    <nav class=" container my-4">
        <ul class="nav  nav-pills nav-fill gap-2 p-1 small bg-dark   rounded-5 shadow-sm" id="pillNav2" role="tablist"
            style="--bs-nav-link-color: var(--bs-light-text); --bs-nav-pills-link-active-color: var(--bs-cyan-600); --bs-nav-pills-link-active-bg: var(--bs-light-bg-subtle);
            --bs-nav-link-hover-color: var(--bs-light-bg-subtle);">

            <li class="nav-item" role="presentation">
                <button class="nav-link  rounded-5" id="Leacture" data-bs-toggle="tab" type="button" role="tab"
                    aria-selected="true">Leacture</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link  rounded-5" id="Quizes" data-bs-toggle="tab" type="button" role="tab"
                    aria-selected="false">Quizes</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link active rounded-5" id="Dashboard" data-bs-toggle="tab" type="button" role="tab"
                    aria-selected="false">Noticboard</button>
                    <!-- file name as dashboard -->
            </li>
        </ul>
        </ul>
    </nav>
{% endblock %}
{% block body %}
<form action="/Registration/logout_handeler" method="post">
    {% csrf_token %}
    <center><button type="submit" class="btn btn-dark my-2">logout</button></center>
</form>
<div class="container my-2">     
        {%for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong></strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        <h5>Noticboard</h5>
        <hr>
        <form class="row g-3 needs-validation" novalidate action="/Registration/dashboard" method="post">
            {% csrf_token %}
            <div class="col-md-4 col-sm-6">
                <label for="Notic_name" class="form-label">Notic Name</label>
                <input type="text" class="form-control" id="Notic_name" name="Heading" required>
                <div class="invalid-feedback">
                    Notic name required.
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <label for="Description" class="form-label">Description </label>
                <div class="input-group has-validation">
                    <input type="text" class="form-control" id="Description" name="desc"
                        aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Please provide a Description.
                    </div>
                </div>
            </div>

            <div class="col-12">
                <a href="#"><button class="btn btn-secondary" type="submit">Upload</button></a>
            </div>
        </form><br>
    </div>


    {% endblock %}
    {% block js %}
    <script>
        (() => {
            'use strict'
            const forms = document.querySelectorAll('.needs-validation')
        
            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
        
                    form.classList.add('was-validated')
                }, false)
            })
        })()
        
        document.getElementById('Leacture').onclick = function () {
            location.href = '/Registration/teacher'
        };
        
        document.getElementById('Quizes').onclick = function () {
            location.href = '/Registration/quizes'
        };
        
        document.getElementById('Dashboard').onclick = function () {
            location.href = '/Registration/dashboard'
        };
    </script>
        {% endblock %}
        