{% extends 'Registration/basic.html' %}
{% block title %} - teacher {% endblock %}
{% block navbar %}
<nav class=" container my-4">
    <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-dark   rounded-5 shadow-sm" id="pillNav2" role="tablist" style="--bs-nav-link-color: var(--bs-light-text); --bs-nav-pills-link-active-color: var(--bs-cyan-600); --bs-nav-pills-link-active-bg: var(--bs-light-bg-subtle);
            --bs-nav-link-hover-color: var(--bs-light-bg-subtle);">
        <li class="nav-item" role="presentation">
            <button class="nav-link  rounded-5" id="Leacture" data-bs-toggle="tab" type="button" role="tab"
                aria-selected="true">Leacture</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link active rounded-5" id="Quizes" data-bs-toggle="tab" type="button" role="tab"
                aria-selected="false">Quizes</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link rounded-5" id="Dashboard" data-bs-toggle="tab" type="button" role="tab"
                aria-selected="false">Dashboard</button>
        </li>
    </ul>
</nav>
{% endblock %}
{% block body %}
<div class="container my-2">
    <h5>Authentication</h5>
    <hr>
    <form class="row g-3 needs-validation" novalidate>
        <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Email</label>
            <input type="text" class="form-control" id="validationCustom02" required>
            <div class="invalid-feedback">
                Email required.
            </div>
        </div>

        <div class="col-md-4">
            <label for="validationCustomUsername" class="form-label">Username</label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
                <input type="text" class="form-control" id="validationCustomUsername"
                    aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                    Please provide a username.
                </div>
            </div>
        </div>

        <div class="form-label col-md-6">
            <label for="aut_pass">Password</label>
            <input type="password" class="form-control" id="aut_pass" placeholder=" Password" fdprocessedid="ey9l7q"
                name="aut_pass" required>
            <div class="invalid-feedback">
                Please provide a valid password.
            </div>
        </div>

        <div class="col-12 my-1">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                    Agree to terms and conditions
                </label>
                <div class="invalid-feedback">
                    You must agree before submitting.
                </div>
            </div>
        </div>
        <div class="col-12">
            <a href="#Uplode_Quizes"><button class="btn btn-secondary" type="submit">Next</button></a>
        </div>
    </form><br>
</div>


<div class="container my-2">
    <h5>Quize</h5>
    <hr>
    <form class="row g-3 needs-validation" novalidate>
        
        <div class="col-md-4 col-sm-6">
            <label for="Playlist_Name" class="form-label">Quize name</label>
            <input type="text" class="form-control" id="Topic_name" name="Playlist_Name" required>
            <div class="invalid-feedback">
                Quize name required.
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <label for="Chapter_name" class="form-label">Chapter name</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" id="Chapter_name" name="Chapter_name"
                    aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                    Please provide a Chapter name.
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <label for="Topic_name" class="form-label">Topic name</label>
            <input type="text" class="form-control" id="Topic_name" required name="Topic_name">
            <div class="invalid-feedback">
                Topic name required.
            </div>
        </div>

        <div class="mb-3 col-md-4 col-sm-6">
            <label for="thumnail" class="form-label">Upload thumnail</label>
            <input type="file" class="form-control" aria-label="file example" id="thumnail" name="thumnail" required>
            <div class="invalid-feedback">Please Uplode thumnail.</div>
        </div>

        <div class="mb-3 col-md-4 col-sm-6">
            <label for="validationCustom03" class="form-label">Marks per Question</label>
            <input type="text" class="form-control" id="validationCustom03" required>
            <div class="invalid-feedback">
                Please provide marks.
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <label for="Shor_Desc" class="form-label">Description</label>
            <input type="text" class="form-control" id="Shor_Desc" required name="Shor_Desc">
            <div class="invalid-feedback">
                Describe with minimum 500 words.
            </div>
        </div>

        <div class="col-12">
            <a href="#Uplode_Quizes"><button class="btn btn-secondary" type="submit">Next</button></a>
        </div>
    </form><br>
</div>

<div class="container ">
    <h5 id="Uplode_Quizes">Uplode Question</h5>
    <hr>
    <form class="row g-3 needs-validation" novalidate>
        <div class="col-md-6 col-sm-6">
            <label for="Quizes_name" class="form-label">Quizes name</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" id="Quizes_name" name="Quizes_name"
                    aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                    Please enter a Quizes name.
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6">
            <label for="Chapter_name" class="form-label">Chapter name</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" id="Chapter_name" name="Chapter_name"
                    aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                    Please provide a Chapter name.
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6">
            <label for="Chapter_name" class="form-label">Topic name</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" id="Chapter_name" name="Chapter_name"
                    aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                    Please provide a topic name.
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <label for="Chapter_name" class="form-label">Question</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" id="Chapter_name" name="Chapter_name"
                    aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                    Please enter a Question.
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6">
            <label for="Chapter_name" class="form-label">Correct Option</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" id="Chapter_name" name="Chapter_name"
                    aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                    Please enter Correct options.
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6">
            <label for="Chapter_name" class="form-label">Option one</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" id="Chapter_name" name="Chapter_name"
                    aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                    Please enter a options.
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <label for="Chapter_name" class="form-label">Option two</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" id="Chapter_name" name="Chapter_name"
                    aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                    Please enter a options two.
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <label for="Chapter_name" class="form-label">Option three</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" id="Chapter_name" name="Chapter_name"
                    aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                    Please enter a options three.
                </div>
            </div>
        </div>
        
        <div class="col-12">
            <a href="#Uplode_Quizes"><button class="btn btn-secondary" type="submit">Next</button></a>
        </div>
    </form><br>
</div>
{% endblock %}
{% block js %}
<script>
    (() => {
        'use strict'
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()

    document.getElementById('Leacture').onclick = function () {
        location.href = '/Registration/teacher'
    };

    document.getElementById('Quizes').onclick = function () {
        location.href = '/Registration/quizes'
    };

    document.getElementById('Dashboard').onclick = function () {
        location.href = '/Registration/dashboard'
    };
</script>
{% endblock %}