{% extends 'Registration/basic.html' %}
{% block title %} - teacher {% endblock %}
{% block navbar %}
    <nav class=" container my-4">
        <ul class="nav  nav-pills nav-fill gap-2 p-1 small bg-dark   rounded-5 shadow-sm" id="pillNav2" role="tablist"
            style="--bs-nav-link-color: var(--bs-light-text); --bs-nav-pills-link-active-color: var(--bs-cyan-600); --bs-nav-pills-link-active-bg: var(--bs-light-bg-subtle);
            --bs-nav-link-hover-color: var(--bs-light-bg-subtle);">

            <li class="nav-item" role="presentation">
                <button class="nav-link active rounded-5" id="Leacture" data-bs-toggle="tab" type="button" role="tab"
                    aria-selected="true">Leacture</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link  rounded-5" id="Quizes" data-bs-toggle="tab" type="button" role="tab"
                    aria-selected="false">Quizes</button>
            </li>
            <li class="nav-item" role="presentation">
                <!-- {% csrf_token %} -->
                <button class="nav-link rounded-5" id="Dashboard" data-bs-toggle="tab" type="button" role="tab"
                    aria-selected="false">Noticboard</button>
            </li>
        </ul>  
    </nav>
    
    <!-- alarts -->
    <div class="container">
        {%for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>{{ message.tags }}!</strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
    {% block body %} 
    <div class="container my-2">
        <form action="/Registration/logout_handeler" method="post">
            {% csrf_token %}
            <center><button type="submit" class="btn btn-dark">logout</button></center>
        </form>
        <h5>Authentication</h5>
        <hr>
        <form class="row g-3 needs-validation" novalidate action="/Registration/lecture_authentication" method="post">{% csrf_token %}
            <div class="col-md-4">
                <label for="user_aut" class="form-label">Username</label>
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                    <input type="text" class="form-control" id="user_aut" name="user_aut"
                        aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Please provide a username.
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <label for="Email_aut" class="form-label">Email</label>
                <input type="text" class="form-control" id="Email_aut" name="Email_aut" required>
                <div class="invalid-feedback">
                    Email required.
                </div>
            </div>


            <div class="form-label col-md-6">
                <label for="aut_pass">Password</label>
                <input type="password" class="form-control" id="aut_pass" placeholder=" Password"
                    fdprocessedid="ey9l7q" name="aut_pass" required>
                <div class="invalid-feedback">
                    Please provide a valid password.
                </div>

            </div>

            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label" for="invalidCheck">
                        Agree to terms and conditions
                    </label>
                    <div class="invalid-feedback">
                        You must agree before submitting.
                    </div>
                </div>
            </div>
            <div class="col-12">
                <a href="#Playlist"><button class="btn btn-secondary{{button}} " type="submit" onclick="scllor()">Next</button></a>
            </div>
        </form><br>
    </div>
    
    <!-- playlist descreption -->

    <div class="container my-2">
        <h5 id="Playlist">Playlist</h5>
        <hr>
        <form class="row g-3 needs-validation" novalidate action="/Registration/thumnail_" method="get">
            {% csrf_token %}
            <div class="col-md-4 col-sm-6">
                <label for="Playlist_Name" class="form-label">Playlist Name</label>
                <input type="text" class="form-control" id="Topic_name" name="Playlist_Name" required>
                <div class="invalid-feedback">
                    Playlist name required.
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <label for="Chapter_name" class="form-label">Chapter name</label>
                <div class="input-group has-validation">
                    <input type="text" class="form-control" id="Chapter_name" name="Chapter_name"
                        aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Please provide a Chapter name.
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <label for="Topic_name" class="form-label">Topic name</label>
                <input type="text" class="form-control" id="Topic_name" required name="Topic_name">
                <div class="invalid-feedback">
                    Topic name required.
                </div>
            </div>

            <div class="mb-3 col-md-4 col-sm-6">
                <label for="thumnail" class="form-label">Upload thumnail</label>
                <input type="file" class="form-control" aria-label="file example" id="thumnail" name="thumnail" required>
                <div class="invalid-feedback">Please Uplode thumnail.</div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <label for="Shor_Desc" class="form-label">Short Describe your playlist</label>
                <input type="text" class="form-control" id="Shor_Desc" required name="Shor_Desc">
                <div class="invalid-feedback">
                    Describe your playlist with 500 words.
                </div>
            </div>
            
            <div class="form-check mb-3 ">
                <input type="checkbox" class="form-check-input" id="validationFormCheck1" required>
                <label class="form-check-label" for="validationFormCheck1">Re-Check</label>
                <div class="invalid-feedback">Check all option are correct.</div>
            </div>
            
            <div class="col-12 ">
                <a href="#Uplode_Playlist"><button class="btn btn-secondary {{button1}} " type="submit" onclick="scllor_to_playlist()" >Next</button></a>
            </div>
        </form><br>
    </div>
 
    <!-- playlist Upload  -->

    <div class="container ">
        <h5 id="Uplode_Playlist">Uplode Playlist</h5>
        <hr>
        <form class="needs-validation" novalidate action="/Registration/lectur_Upload" method="post" >
            {% csrf_token %}
            <div class="mb-3">
                <label for="Chapter_name_playlist" class="form-label">Chapter name</label>
                <input type="text" class="form-control" id="Chapter_name_playlist" name="Chapter_name_playlist" placeholder="Enter Chapter name"
                    required>
                <div class="invalid-feedback">
                    Please enter a Chapter name.
                </div>
            </div>
            

            <div class="mb-3">
                <label for="Topic_name_playlist" class="form-label">Topic name</label>
                <input type="text" class="form-control" id="Topic_name_playlist" name="Topic_name_playlist" placeholder="Enter Topic name"
                    required>
                <div class="invalid-feedback">
                    Please enter a topic name.
                </div>
            </div>

            <div class="mb-3">
                <label for="Leactur_title" class="form-label">Leactur title</label>
                <input type="text" class="form-control" id="Leactur_title" placeholder="Enter Leactur title"  name="Leactur_title"
                    required>
                <div class="invalid-feedback">
                    Please enter a lecture Title.
                </div>
            </div>

            <div class="mb-3">
                <label for="Desc_leactur" class="form-label">Describe your leactur</label>
                <input type="text" class="form-control" id="Desc_leactur" name="Desc_leactur" placeholder="Required descreption"
                    required>
                <div class="invalid-feedback">
                    Please enter a description.
                </div>
            </div>

            <div class="mb-3">
                <label for="Upload_leactur" class="form-label">Upload leactur</label>
                <input type="file" class="form-control" aria-label="file example" id="Upload_leactur" name="Upload_leactur" required>
                <div class="invalid-feedback">Please Uplode lecture.</div>
            </div>

            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="validationFormCheck_playlist" required>
                <label class="form-check-label" for="validationFormCheck_playlist">Clear</label>
                <div class="invalid-feedback">Check all option are correct.</div>
            </div>

            <div class="mb-3">
                <button id="upload" class="btn btn-secondary {{button2}}" type="submit"> Uplode </button>
            </div>
        </form>
    </div>
    {% endblock %}
    {% block js %}
    <script>
    (() => {
        'use strict'
        const forms = document.querySelectorAll('.needs-validation')
    
        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }
    
                form.classList.add('was-validated')
            }, false)
        })
    })()
    
    document.getElementById('Leacture').onclick = function () {
        location.href = '/Registration/teacher'
    };
    
    document.getElementById('Quizes').onclick = function () {
        location.href = '/Registration/quizes'
    };
    
    document.getElementById('Dashboard').onclick = function () {
        location.href = '/Registration/dashboard'
    };

    function scllor(){
        document.getElementById('Playlist').scrollIntoView();
        
    };
    function scllor_to_playlist(){
        document.getElementById('Uplode_Playlist').scrollIntoView();
       
       
        
    };
</script>
    {% endblock %}
    