{% extends 'Registration/basic.html' %}
{% block title %} -notice {% endblock %}
{% block css %} 
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

  </style>
  {% endblock %}


  {% block body %} 
  <main>
    <div class="container py-4">
      <header class="pb-3 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <!-- logo -->
          <span class="fs-4">Educative</span>
        </a>
      </header>
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
      <!-- <div class="container-fluid py-5 "> -->
        <h1 class="display-6 fw-bold">Assingment's!</h1>
      </div>
        {% for i in Data %} 
        <div class="container">
          <div class="w-100 p-5 text-bg-dark rounded-3  ">
            <h2>Name of topic : {{ i.topic_name }}</h2>
            <h4>Marks per Question : {{ i.marks_per_que }}</h4>
              <p>Instruction for Assingment : {{ i.descreption }}</p>
          </div><br>
        </div>
        {% endfor %}   
    </div>
  </main>
  {% endblock %}