{% extends 'Registration/basic.html' %}
{% block title %} -notice {% endblock %}
{% block css %} 
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

  </style>
  {% endblock %}


  {% block body %} 
  <main>
    <div class="container py-4">
      <header class="pb-3 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <!-- logo -->
          <span class="fs-4">Educative</span>
        </a>
      </header>
      <!-- <div class="container-fluid py-5 "> -->
        <h1 class="display-6 fw-bold">Update's!</h1>
      </div>

      {% for i in Data %}
        <div class="container">
          <div class="w-100 p-5 text-bg-dark rounded-3  ">
            <h2>{{i.Heading}}</h2>
            <p>{{i.desc}}</p>
          </div><br>
        </div>  
      {% endfor %}   
          

      <footer class="pt-3 mt-4 text-muted border-top">
        &copy; 2022-2023 All Rights are resivered.
      </footer>
    </div>
  </main>
  {% endblock %}
