{% extends 'Registration/basic.html' %}
{% block title %} About {% endblock %}
{% block css %}
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>
    {% endblock %}

    {% block body %}    
<main>
  <h1 class="visually-hidden">About Educative</h1>

  <div class="px-4 py-5 my-5 text-center">
    <!-- <img class="d-block mx-auto mb-4" src="logo" alt="" width="72" height="57"> -->
    <h1 class="display-5 fw-bold">Wellcome to Educative!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
We are thrilled to have you here and embark on a journey of knowledge, exploration, and inspiration together. Whether you are a tech enthusiast, a lifelong learner, or someone seeking to harness the power of technology, you've come to the right place.
At Educative, we believe that technology has the potential to transform lives, shape industries, and drive positive change. Our mission is to provide you with a platform where you can expand your skills, stay updated with the latest trends, and connect with a vibrant community of like-minded individuals.
Welcome aboard!
The Educative Team
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <!-- <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button> -->
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">CEO and Cofounder of Educative is Mr.</h1>
        <p class="lead">
          At Educative, we believe that technology has the potential to transform lives, shape industries, and drive positive change. Our mission is to provide you with a platform where you can expand your skills, stay updated with the latest trends, and connect with a vibrant community of like-minded individuals.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <!-- <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Primary</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="media/Registration/Quize/thumnail/bootstrap-docs.png" alt="" width="720">
      </div>
    </div>
  </div>
  
  
  <div class="b-example-divider"></div>
  
  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Educative Start form 2017</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Explore our curated resources, ranging from interactive courses to insightful articles and practical guides. From web development and data science to cybersecurity and emerging technologies, we cover a wide array of topics to cater to your diverse interests and aspirations.
        Engage in hands-on projects, collaborate with experts, and challenge yourself to reach new heights in your tech journey. 
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <!-- <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Primary button</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button> -->
        </div>
      </div>
      <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-5">
          <img src="bootstrap-docs.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
        </div>
      </div>
    </div>
    
    <div class="b-example-divider"></div>
    
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">We are providing Quality content</h1>
          <p class="lead">
            Whether you're a beginner taking your first steps or an experienced professional seeking to expand your horizons, our platform is designed to empower and support you every step of the way.
            Join us on this exciting adventure as we dive into the realms of technology, innovation, and creativity. Together, let's explore, learn, and unleash the full potential of technology to make a meaningful impact in our lives and the world around us.
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <!-- <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
          </div>
        </div>
      </div>
    </div>

  <div class="b-example-divider"></div>

  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Thanking you!</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">
          Thank you for being a part of Educative. We can't wait to witness your growth, celebrate your achievements, and inspire each other on this remarkable journey.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">HOME</button>
          <!-- <button type="button" class="btn btn-outline-light btn-lg px-4">Secondary</button> -->
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %} 
