{% extends 'Registration/basic.html' %}
{% block title %} Index {% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Educative</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" id="cources" href="/Registration/courses">Cources</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="about_us" href="about_us">About us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " id="contact_us" href="contact_us">Contact us</a>
                  </li>
            </ul>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-danger mx-2" data-bs-toggle="modal"
                data-bs-target="#loginModal">Login</button>
            <button type="button" class="btn btn-outline-danger mx-2" data-bs-toggle="modal"
                data-bs-target="#signupModal">Signup</button>

        </div>
    </div>
</nav>
{% endblock %}

{% block body %} 
    <!-- Show alart -->
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <!-- Login  form -->
    <div class="modal fade" id="loginModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Educative</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                    <form class="needs-validation" novalidate method="post" action="/Registration/login">
                        {% csrf_token %}
                        <h1 class="h3 mb-3 fw-normal text-center ">Login portal</h1>

                        <div class="form-label">
                            <label for="user_login">Username</label>
                            <input type="text" class="form-control" id="user_login" placeholder="user name"
                                fdprocessedid="7az6q" name="user_login" required>
                            <div class="invalid-feedback">
                                Please provide a valid user name.
                            </div>
                        </div>
                        <div class="form-label">
                            <label for="login">Email address</label>
                            <input type="email" class="form-control" id="login" placeholder="@gmail.com"
                                fdprocessedid="7az6q" name="Email_login" required>
                            <div class="invalid-feedback">
                                Please provide a valid email.
                            </div>
                        </div>
                        <div class="form-label">
                            <label for="log_pass">Password</label>
                            <input type="password" class="form-control" id="log_pass" placeholder=" Password"
                                fdprocessedid="ey9l7q" name="log_pass" required>
                            <div class="invalid-feedback">
                                Please provide a valid password.
                            </div>

                        </div>

                        <div class="checkbox mb-3 sform-check form-switch row form-label">

                            <label for="teacher_log">
                                <input class="form-check-input" type="radio" value="Teacher" name="account_type_log"
                                    role="switch" id="teacher_log" required> Teacher
                            </label>

                            <label for="student_log">
                                <input class="form-check-input" type="radio" value="Student" name="account_type_log"
                                    role="switch" id="student_log" required> Student
                            </label>
                            <div class="invalid-feedback">
                                Please select.
                            </div>
                        </div>

                        <div class="checkbox mb-3 ">
                            <label>
                                <input type="checkbox" value="remember-me"> Remember me
                            </label>
                        </div>
                        <button class="w-100 btn btn-lg btn-primary" type="submit" fdprocessedid="op7bv"> Login
                    </button>
                        <p class="mt-5 mb-3 text-muted text-center">© 2022–2023</p>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- singup form  -->
        <div class="modal fade" id="signupModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Educative</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                    <form action="/Registration/login_data" method="post" class="needs-validation" novalidate >
                        {% csrf_token %}
                        <!-- <img class="mb-4 " src="logo" alt="" width="72"
                            height="57"> -->
                        <h1 class="h3 mb-3 fw-normal text-center ">Signup</h1>
                        <div class="form-label">
                            <label for="user_name">Username</label>
                            <input type="text" class="form-control" id="user_name" placeholder="user name"
                                fdprocessedid="7az6q" name="user" required>
                            <div class="invalid-feedback">
                                Please provide a valid user.
                            </div>
                        </div>
                        <div class="form-label">
                            <label for="Reg">Email address</label>
                            <input type="email" class="form-control" id="Reg" placeholder="name@example.com"
                                fdprocessedid="7az6q" name="Email" required>
                            <div class="invalid-feedback">
                                Please provide a valid email.
                            </div>
                        </div>
                        <div class="form-label">
                            <label for="sing_pass">Password</label>
                            <input type="password" class="form-control" id="sing_pass" placeholder="Password"
                                fdprocessedid="ey9l7q" name="pass" required>
                            <div class="invalid-feedback">
                                Please Re-enter password.
                            </div>

                        </div>
                        <div class="form-label">
                            <label for="reg_pass">Password</label>
                            <input type="password" class="form-control" id="reg_pass" placeholder="Re-enter Password"
                                fdprocessedid="ey9l7q" name="repass" required>
                            <div class="invalid-feedback">
                                Please provide a valid password.
                            </div>

                        </div>

                        <div class="checkbox mb-3 sform-check form-switch row form-label">

                            <label for="teacher">
                                <input class="form-check-input" type="radio" value="Teacher" name="account_type"
                                    role="switch" id="teacher" required> Teacher
                            </label>

                            <label for="student">
                                <input class="form-check-input" type="radio" value="Student" name="account_type"
                                    role="switch" id="student" required> Student
                            </label>
                            <div class="invalid-feedback">
                                Please select.
                            </div>
                        </div>
                        <button   class="w-100 btn btn-lg btn-primary" type="submit" fdprocessedid="op7bv"  > Signup
                        </button>
                        <p class="mt-5 mb-3 text-muted text-center">© 2022–2023</p>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- starting crousel  -->
    <div id="carouselExampleCaptions" class="carousel slide ">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://source.unsplash.com/300x100/?datascience,code" class="d-block w-100" alt="...">

            </div>
            <div class="carousel-item">
                <img src="https://source.unsplash.com/300x100/?data,tabulo" class="d-block w-100" alt="...">

            </div>
            <div class="carousel-item">
                <img src="https://source.unsplash.com/300x100/?machine learning,python" class="d-block w-100" alt="...">

            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- end crousel -->


    <div>
        <div class="card text-center">
            <div class="card-header">
                Vidyut jyotih suprabhatam bhavatu.
            </div>
            <div class="card-body">
                <h5 class="card-title">Unleash Your Tech Potential: Power up, Level up, and Dominate the Digital Frontier!</h5>
                <p class="card-text">In the world of technology, moral values hold immense importance. Embrace ethics, empathy, and lifelong learning to foster inclusive and responsible innovation,
                    ensuring a digital landscape that prioritizes privacy, well-being, and collaboration for a better future.</p>
                <a href="#" class="btn btn-secondary">Read more.</a>
            </div>
            <div class="card-footer text-muted">
                Ganitam sanganakam chakarma saphalam karotu.
            </div>
        </div>
    </div>


    <h3 class="mx-2">Meet our Aluminas:</h3>

    <!-- aluminas -->
    <div class="container">
        <div class="row mx-4 ">
            <div class="row featurette my-4">
                <div class="col-md-7 order-md-1">
                    <h2 class="featurette-heading fw-normal lh-1">

                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">CodeCrafters</font>
                        </font>

                        <span class="text-muted"> </span>
                    </h2>
                    <p class="lead">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                CodeCrafters is an innovative and dynamic online platform designed to teach web development skills to aspiring programmers. With its user-friendly interface and comprehensive curriculum, CodeCrafters offers a unique learning experience for individuals of all levels of expertise.

                                This Alumnia boasts an extensive library of coding tutorials and interactive exercises that cover a wide range of topics, including HTML, CSS, JavaScript, and more. The lessons are structured in a progressive manner, allowing learners to build upon their knowledge and skills as they advance through the modules.
                                
                                One of the standout features of CodeCrafters is its hands-on approach to learning. Users have access to a built-in code editor, where they can practice writing and testing their code in real-time. The platform provides instant feedback, helping students identify and correct any mistakes or errors they may encounter along the way. 
                            </font>
                        </font>
                    </p>
                </div>
                <div class="col-md-5 order-md-2">
                    <img src="/aluminas 1.jpeg" class="bd-placeholder-img rounded img-fluid">
                </div>
            </div>

        </div><!-- /.col-lg-4 -->

        <div class="row mx-4 ">
            <div class="row featurette my-4">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1">

                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">WebWizards</font>
                        </font>

                        <span class="text-muted"> </span>
                    </h2>
                    <p class="lead">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                WebWizards is a cutting-edge online teaching platform that empowers individuals to become proficient web designers and developers. With its focus on creativity, practicality, and industry relevance, WebWizards offers an immersive learning experience that prepares students for real-world web projects.

At the heart of WebWizards lies a vast collection of video tutorials that cover a wide range of web development concepts and techniques. From foundational HTML and CSS to advanced JavaScript frameworks, students can follow along with step-by-step demonstrations, gaining practical knowledge and understanding.

One of the standout features of WebWizards is its emphasis on project-based learning. Through a series of hands-on assignments and challenges, students get the opportunity to apply their newly acquired skills to create fully functional websites and web applications. They receive constructive feedback from experienced mentors, helping them refine their projects and build a professional portfolio.
                            </font>
                        </font>
                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="/aluminas 2.jpeg" class="bd-placeholder-img rounded img-fluid">
                </div>
            </div>

        </div><!-- /.col-lg-4 -->

        <div class="row mx-4 ">
            <div class="row featurette my-4">
                <div class="col-md-7 order-md-1">
                    <h2 class="featurette-heading fw-normal lh-1">

                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">DataMinds</font>
                        </font>

                        <span class="text-muted"> </span>
                    </h2>
                    <p class="lead">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                DataMinds is a cutting-edge online learning platform dedicated to teaching data science and analytics skills to individuals seeking to harness the power of data-driven decision-making. With its interactive modules and industry-aligned curriculum, DataMinds offers a dynamic learning experience for aspiring data scientists.

The platform covers a wide range of topics, including data exploration and visualization, predictive modeling, data mining, and data storytelling. Each course consists of video lectures, hands-on exercises, and quizzes to reinforce learning and ensure a comprehensive understanding of the material.

DataMinds leverages state-of-the-art tools and technologies commonly used in the industry, such as Python, R, and Tableau. Through its integrated coding environment and interactive data visualization tools, students can apply their knowledge in a practical setting, gaining valuable experience in data analysis and interpretation.
                            </font>
                        </font>
                    </p>
                </div>
                <div class="col-md-5 order-md-2">
                    <img src="/aluminas 1.jpeg" class="bd-placeholder-img rounded img-fluid">
                </div>
            </div>

        </div>
        <hr><!-- /.col-lg-4 -->

    </div>
    <!-- end aluminas -->


    <!-- teachers -->
    <div id="carouselExampleSlidesOnly" class="container carousel slide" data-bs-ride="carousel">
        <h4 class="mx-2 my-2 mb-2">Get exprience with best Teacher's!</h4>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="/aluminas 2.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">TechTutors</h5>
                                <p class="card-text">
                                    Empowering teachers to embrace technology and enhance their classrooms through interactive courses on educational apps, coding for kids, and more.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/aluminas 2.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">EdTech Innovators</h5>
                                <p class="card-text">Equipping educators with the tools and knowledge to integrate educational technology effectively, with courses on learning management systems, virtual reality, and gamification.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/aluminas 2.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Data-driven Educators</h5>
                                <p class="card-text">Helping teachers leverage the power of data analysis in education through courses on data analytics, assessment strategies, and personalized learning.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/aluminas 2.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Cybersecurity Protectors</h5>
                                <p class="card-text">Educating teachers on digital safety and cybersecurity to instill responsible digital citizenship in students and protect them from online threats.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="/aluminas 1.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Tech Integration Masters</h5>
                                <p class="card-text">Supporting teachers in seamlessly integrating technology into their instruction through courses on blended learning, flipped classrooms, and collaborative digital tools.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/aluminas 1.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Coding Coaches</h5>
                                <p class="card-text"> Empowering teachers to teach coding and computer science with comprehensive courses on programming languages, algorithmic thinking, and project-based learning.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/aluminas 1.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">STEM Enthusiasts</h5>
                                <p class="card-text">Inspiring teachers to deliver effective STEM education with courses on curriculum development, hands-on experiments, and robotics.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/aluminas 1.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Mobile Learning Pioneers</h5>
                                <p class="card-text">Equipping teachers to leverage the power of mobile devices for educational purposes through courses on app development, mobile learning strategies, and assessment tools.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="/aluminas 2.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Virtual Reality Educators</h5>
                                <p class="card-text"> Enabling teachers to create immersive learning experiences through courses on VR content creation, virtual field trips, and interactive learning environments.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/aluminas 2.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Digital Media Specialists</h5>
                                <p class="card-text">Supporting teachers in utilizing digital media for educational purposes with courses on digital storytelling, video production, and multimedia projects.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/aluminas 2.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Tech Leadership Mentors</h5>
                                <p class="card-text">Preparing teachers to take on leadership roles in educational technology with courses on technology planning, professional development, and digital learning initiatives.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/aluminas 2.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Data Privacy Advocates</h5>
                                <p class="card-text">Educating teachers on student data protection and privacy regulations through courses on data privacy, secure online practices, and compliance in educational settings.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!-- end teachers -->

    <!-- contain  -->
    <div class="container">
        <h4 class="mx-2 my-2 mb-2 ">You will learn this things after joining us.</h4>
        <div class=" d-flex justify-content-center align-items-center my-4">
            <div class="">
                <div class="col ">
                    <button type="button" class="btn btn-outline-primary mx-4 my-4 btn-lg">Data visulization</button>
                    <button type="button" class="btn btn-outline-success mx-4 my-4 btn-lg">Data exploration</button>
                    <button type="button" class="btn btn-outline-dark mx-4 my-4 btn-lg"># Pandas</button>
                </div>
                <div class="col ">
                    <button type="button" class="btn btn-outline-danger mx-4 my-4 btn-lg">Statistics</button>
                    <button type="button" class="btn btn-outline-dark mx-4 my-4 btn-lg">Machine learning</button>
                    <button type="button" class="btn btn-outline-info mx-4 my-4 btn-lg"># Matplotlib</button>
                </div>
                <div class="col ">
                    <button type="button" class="btn btn-outline-warning mx-4 my-4 btn-lg">Python</button>
                    <button type="button" class="btn btn-outline-primary mx-4 my-4 btn-lg"># Numpy</button>
                    <button type="button" class="btn btn-outline-success mx-4 my-4 btn-lg"># Seaborn</button>
                    <button type="button" class="btn btn-outline-danger mx-4 my-4 btn-lg"># Ploty</button>
                </div>
            </div>
        </div>

    </div>

    {% endblock %}

    {% block footer %} 
    <footer class="container-flex py-5  pt-5 text-muted  text-small bg-dark" data-bs-theme="dark">
        <div class="row">
            <div class="col-12 col-md">
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Cool stuff</a></li>
                    <li><a class="link-secondary" href="#">Random feature</a></li>
                    <li><a class="link-secondary" href="#">Team feature</a></li>
                    <li><a class="link-secondary" href="#">Stuff for developers</a></li>
                    <li><a class="link-secondary" href="#">Another one</a></li>
                    <li><a class="link-secondary" href="#">Last time</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Resource name</a></li>
                    <li><a class="link-secondary" href="#">Resource</a></li>
                    <li><a class="link-secondary" href="#">Another resource</a></li>
                    <li><a class="link-secondary" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Business</a></li>
                    <li><a class="link-secondary" href="#">Education</a></li>
                    <li><a class="link-secondary" href="#">Government</a></li>
                    <li><a class="link-secondary" href="#">Gaming</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Team</a></li>
                    <li><a class="link-secondary" href="#">Locations</a></li>
                    <li><a class="link-secondary" href="#">Privacy</a></li>
                    <li><a class="link-secondary" href="#">Terms</a></li>
                </ul>
            </div>
        </div>


        <ul class="list-inline text-center">
            <li class=" list-inline-item mb-1 ">©copyrighte 2022-2023 all rights are reserved. </li>
            <li class="list-inline-item"><a href="#">Contacts us for any query</a></li>
            <li class="list-inline-item"><a href="#">#follow on</a></li>
            <li class="list-inline-item"><a href="#">#profile</a></li>
        </ul>
    </footer>
    {% endblock %}
    {% block js %}
    <script>
        (() => {
            'use strict'
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
        const myModal = document.getElementById('login_form')
        const myInput = document.getElementById('login')

        myModal.addEventListener('shown.bs.modal', () => {
            myInput.focus()
        }) 
    </script>
    {% endblock %}
